@import 'normalize';
@import 'transition';
@import 'utils';

html {
  color: $light;
  background-color: adjust-color($color: $dark, $lightness: 10%);
  font-family: 'Roboto';
}

#app {
  width: 100%;
  min-width: 320px;
  margin: 0 auto;
}
